---
layout: default
title: Gallery
permalink: /gallery/
---
  {% include header.html %}

  <main class="page-content" aria-label="Content">
  <section class="chapters cf">
      <div class="wrapper flex-row" align=center>
	<img src="/assets/img/floatingroom.jpg" align=center width="100%">
	  <h2 style="color: white;">
		Audio-visual installation in EnVivo 2018 - Centro Del Carmen, Valencia, Spain - December 2018
</h2>
	</img>      
   
      </dav>
  </section>
  </main>

  {% include footer.html %}
