
<section id="banner" data-vide-bg="/assets/video/header.mp4" data-vide-options="posterType: detect, visibility: visible, muted: true, position: 50% 50%">
<!-- <section id="banner"> -->
<div class="wrapper">
    <div class="content">
      <div class="row-centered">
      <img src="/assets/img/logo-light.png" width="250">
      </div>
      <div class="row-centered">
      <img src="/assets/img/name-farsi.png" height="100">
      </div>
      <div class="row-centered">
        <h0 class="name-title">Arash Rezaei</h0>
      </div>
      <!-- <h1 class="farsi">{{site.banner-title}}</h1> -->
      </div>
  </div>
</section>
<!-- </section> <!-- End Section Banner -->
