
<!-- <section id="streaming"> -->
<div class="wrapper">
    <div class="content">
      <div class="row-centered">
	<h1 style="color: #ffffff;">Listen To Every Time</h1>
      <img src="/assets/img/Harbar.jpg" style="border:5px double black;" width="60%" height="60%">
      </div>
<iframe src="https://open.spotify.com/embed/album/0HIdq1upfwiHXy3Bnh9G2G" frameborder="0" height="350" style="width:100%;overflow:hidden;background:transparent;margin-top: 20px;" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe allow="encrypted-media *;" frameborder="0" height="350" style="width:100%;overflow:hidden;background:transparent;margin-top: 20px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/every-time-har-bar-single/1487211262"></iframe>
     <ul class="telegram_link" width="100%" height="350"><li><a href="https://t.me/arashrezaeimusic/10" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i>Listen On Telegram</a></li></ul>
   </div>
</div>
<!-- </section> <!-- End Section Banner -->
