---
layout: default
---
  {% include header.html %}

  {% include banner.html %}

  <main class="page-content" aria-label="Content">
  <section class="chapters cf">
  <div class="wrapper flex-row">
    <div class="container mb50">
      <iframe class="video" src="https://www.youtube.com/embed/DPqWCX42nlo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <iframe src="https://open.spotify.com/embed/artist/7qnmOEUHHz68UJ9IAAvKDD" width="100%" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<!-- <div class="wrapper flex-row">
      {{ content }}
      </div> -->
<section data-vide-bg="/assets/img/bg_info.jpg" style="margin-top:50px; width: 100%; height: 800px">
  <div class="pagination">
    <h0>Shout EP</h0><br/>
    <h1>Coming September 2019</h1><br/>
    <h3 class="ml10 mr10">A Journey inward to encounter personal experiences in the shape of Hard Rock and Metal through a new flavor</h3>
  </div>

</section>
  </section>
  </main>

  {% include footer.html %}
